header {
  background-color: var(--color-bg-primary);
}

.logo {
  display: flex;
  align-items: center;

  width: 500px;
  margin: 0 auto;

  img {
    width : 20%;
    margin: 20px;
  }
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}