header {
  background-color: var(--color-bg-primary);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  //width: 500px;
  margin: 0 auto;

  img {
    width : 20%;
    margin: 3px;
  }
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

@media screen and (min-width: 376px) {
  .logo {
    flex-direction: column;

    img {
      width: 20%;
    }
  }

  header .wrapper {
    display: flex;
    align-items: center;
  }

  header nav ul li {
    margin: 0 10px;
  }
}