.hero {
  background-color: var(--color-bg-secondaire);
}

.hero .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero img {
  width: 50%;
  margin: 0;
}

.hero h1 {
  font-size: 3rem;
}

.hero h2 {
  font-size: var(--fz-h2);
  margin-top: 20px;
}

.hero a {
  padding: 20px;
  background-color: var(--color-grad);
}

@media screen and (min-width: 376px) {
  .text-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero .wrapper{
    display: block;
  }
}