.hero {
  background-color: var(--color-bg-secondaire);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero img {
  width: 50%;
}

.hero h1 {
  font-size: 3rem;
}

.hero h2 {
  font-size: var(--fz-h2);
  margin-top: 20px;
}